@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


.font-sans {
    font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

.body {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
    .pawgress-animation {
        animation: pawgress-keyframes 2s ease-in-out
    }
}

@keyframes pawgress-keyframes {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.btn.btn.btn-success {
    cursor: pointer;
}

.btn.btn.btn-success:hover {
    color: rgb(255, 197, 110);
    border: 2px solid #555555;
}

@layer base {
    :root {
        --text: black;
        --background: orange;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: white;
        --background: black;
    }
}