@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

.font-sans {
    font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

.body {
    font-family: 'Poppins', sans-serif;
}

@tailwind utilities;

.btn.btn.btn-success {
    cursor: pointer;
}

.btn.btn.btn-success:hover {
    color: rgb(255, 197, 110);
    border: 2px solid #555555;
}